:root{
    --darkest-color: #2E323F;
    --dark-color: #3B4050;
    --middle-color: #6F737F;
    --bright-color: #FFFFFF;
    --between-bright-and-acent: rgb(225, 224, 223);
    --accent-color: #A59678;

    --main-font:'Montserrat', sans-serif;
    --accent-font: 'Oswald', sans-serif;

    --little-gap: 0.5rem;
    --medium-gap: 1rem ;
    --big-gap: 1.5rem ;
    --bigger-gap: 2rem;
    --huge-gap: 3rem;
}

.container{
    max-width: 1200px;
    margin: auto;
    font-family: var(--main-font);
}

.nav{
    display: flex;
    background-color: #2E323F;
    color: var(--bright-color);
    justify-content: space-evenly;
    align-items: center;
}

.primary-list a{
    display: flex;
    color: var(--bright-color);
    text-decoration: none;
    font-family: var(--accent-font);
    text-transform: uppercase;
    display: inline;
    font-weight: bold;
    align-items: center;
    padding: var(--big-gap);
 }

img{
    width: 100%;
}

.logo{
    font-weight: bold;
    font-size: var(--big-gap);
}

.primary-list .button {
    background-color: var(--accent-color);
    border-radius: 100px;
    padding: var(--little-gap);
}

.hero{
    display: flex;
    background-color: var(--dark-color);
    color: var(--bright-color);
    padding: 4rem;
}
.two-colors{
   font-size: var(--huge-gap);
}

.beige{
    color: var(--accent-color);
}

h2{
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-size: var(--big-gap);
}

.hero-text{
    align-self: flex-end;
}
.hero-button{
    background-color: var(--accent-color);
    border-radius: 20px;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: var(--accent-font);
    font-weight:bold;
    display: inline-flex;
}

.col{
    display: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.5rem; 
}

.col+.col{
    margin-left: 2rem; 
}

.col-bas{
    align-self: flex-end;
}

.one{
    display: flex;
    background-color: var(--between-bright-and-acent);
    text-align: center;
    padding: 2rem;
}

.one div+div {
    margin-left:1rem;
}

.one h2 {
    color: var(--accent-color);
    font-family: var(--accent-font);
}

.two{
    display: flex;
    background-color: var(--bright-color);
    margin: var(--huge-gap);
}

.two .col div{
    background-color: var(--darkest-color);
    color: var(--bright-color);
    padding: var(--little-gap);
    margin: var(--little-gap);
    text-align: center;
}

.two .col div h2{
    color: var(--bright-color);
}

.footer{
    background-color: var(--darkest-color);
    padding: var(--huge-gap);

}

.footer-container{
    display: flex;
}

.footer-h2{
    text-align: center;
    font-size: var(--huge-gap);
    color: var(--bright-color);
}

.about{
    width: 40%;
}

.footer-container {
    color: var(--accent-color);
    font-family: var(--accent-font);
    justify-content: space-evenly; 
}

.footer-container div p,ul li{
    color: var(--bright-color);    
}

.footer-container div ul {
    padding: 0;
    list-style: none;
    line-height: var(--big-gap);
}


@media (max-width: 1000px) 
{

   .two {
       display: inline;
       margin: 0;
   }

    .col-medium-second{
        display: flex;
        align-items: flex-start;
    }
   

}

@media (max-width: 700px) {
    body{
        background-color: yellow;
    }
    nav {
        display: flex;

    }
    .primary-list{
        display: flex;
        display: column;
         align-self: center;
    }
 
    .col-medium-second{
        display: flex;
        flex-direction: column;
    }

    .hero{
        display: flex;
        flex-direction: column;
    }
}


