:root{
    --darkest-color: #2E323F;
    --dark-color: #3B4050;
    --middle-color: #6F737F;
    --bright-color: #FFFFFF;
    --accent-color: #A59678;

    --main-font:'Montserrat', sans-serif;
    --accent-font: 'Oswald', sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
    font-family: var(--main-font);
}
.nav{
    display: flex;
    background-color: #2E323F;
    color: var(--bright-color);
    justify-content: space-around;
    align-items: center;
}
.primary-list a{
    display: flex;
    color: var(--bright-color);
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
    padding: 1rem;
    font-family: var(--accent-font);
    font-weight: bold;
}

.logo{
    font-weight: bold;
    font-size: 2rem;
}

.primary-list .button {
    background-color: var(--accent-color);
    border-radius: 20px;
    padding: 0.5rem;
}

.hero{
    background-color: var(--accent-color);
    display: flex;
}

.hero-h1{

}
.hero-text{

}
.hero-button{

}
.one{

}
.one h2 {

}

.one p{

}

.two{
    display: flex;
    background-color: var(--bright-color);
}

.footer{
    display: flex;
}

.footer-h2{

}
.footer h3{

}